/*D3 points*/
svg#d3layer {
  position: relative;
}

path:hover {
    cursor: pointer;
}

svg#d3layer path.location {
  fill: #f00;
  stroke: #fff;
  stroke-width: 1px;
  fill-opacity: 0.5;
}

svg#d3layer .disabled {
  display: none;
}

